@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Variável CSS */
:root {
  --primary-color: #f72d09;
}

.table a {
  text-decoration: none;
}

body {  
  background-image: url('./assets/background.jpg');   
  background-attachment: fixed; 
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

main {
  min-height: 90vh;
}

footer {
  background-color: #000;
  color: #FFF;
  padding: 40px 10px;
  width: 100%;
}

footer div {
  float: right;  
}

.btn-primary {
  background-color: var(--primary-color);
  border: var(--primary-color);
  color: #FFF;
  transition: ease-out 0.2s;
}

.btn-primary:hover {
  filter: brightness(0.9);
  background-color: var(--primary-color);
  color: #FFF;
}

.form-field {
  background-color: #0007;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);  
  width: 400px;  
  color: #FFF;
  border-radius: 4px;
}

.form-field a {
  float: right;
  color: #FFF;
}

nav.bg-dark {
  background-color: #000 !important;  
}

.cards a {
  text-decoration: none;
  color: #000;
  transition: ease-out 0.2s;
}

.cards a:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 20px #0004;
}

.cards a:active {
  transform: scale(0.9);
}

.card h5>i {
  color: var(--primary-color);
}

.card h5 {
  font-size: 2em;
}

.table-dark {
  background-color: #000e !important;
}